a { 
    color: inherit; 
} 

body, html {
    height: 100%;
}

.avatar {
    vertical-align: middle;
    width: 20%;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
}

.bg-image {
    background-image: url(../Assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    min-width: 100%;
}

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.65); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 60%;
    padding: 20px;
    text-align: center;
}

.bg-repos {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.65); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    
    width: 60%;
    padding: 20px;
    text-align: center;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.65);
    border-bottom: 3px solid #f1f1f1;
}

.nav-item-size {
    font-size: 18pt;
}

.repo-item {
    font-size: 16pt;
    border: 3px solid #f1f1f1;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 5px;
    list-style-type: none;
}
